<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Unity.Interception.Configuration"/>
    <containers>
      <!--name="ruanmouContainer" 容器名称-->
      <container name="lcContainer">
        <extension type="Interception"/>
        <!--DBContext映射配置-->
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="EF.Model.LCDbContext, EF.Model"/>

        <register type="EF.Business.IService.ITb_MqService,EF.Business.IService" mapTo="EF.Business.Service.Tb_MqService, EF.Business.Service">
          <interceptor type="InterfaceInterceptor"/>
          <!--AOP相关配置-->
          <interceptionBehavior type="EF.Common.AOP.LogBeforeBehavior, EF.Common"/>
          <interceptionBehavior type="EF.Common.AOP.LogAfterBehavior, EF.Common"/>
        </register>
        <register type="EF.Business.IService.ITb_LogService,EF.Business.IService" mapTo="EF.Business.Service.Tb_LogService, EF.Business.Service"/>
        <register type="EF.Business.IService.ITb_ErrorService,EF.Business.IService" mapTo="EF.Business.Service.Tb_ErrorService, EF.Business.Service"/>
        <register type="EF.Business.IService.ITb_DebugLogService,EF.Business.IService" mapTo="EF.Business.Service.Tb_DebugLogService, EF.Business.Service"/>
        <register type="EF.Business.IService.ICombinationService.IMqLogService,EF.Business.IService" mapTo="EF.Business.Service.CombinationService.MqLogService, EF.Business.Service"/>
      </container>

      <!--<container name="ruanmouContainerGeneric">
        <register type="System.Data.Entity.DbContext, EntityFramework" mapTo="Ruanmou.EF.Model.JDDbContext, Ruanmou.EF.Model"/>
        <register type="Ruanmou.Bussiness.Interface.IBaseService`1,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.BaseService`1, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICategoryService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CategoryService, Ruanmou.Bussiness.Service"/>
        <register type="Ruanmou.Bussiness.Interface.ICommodityService,Ruanmou.Bussiness.Interface" mapTo="Ruanmou.Bussiness.Service.CommodityService, Ruanmou.Bussiness.Service"/>
      </container>-->
    </containers>
  </unity>
</configuration>